<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>loomDecorTest</title>
	<link rel="stylesheet" href="../main.css">
</head>
<body>
	<center>
		<center>

			
		<header>
		<a href="../index.html" title=""><center><img id="logo" src="../images/logo.png" alt="loomLogo" width="250px" height="50px"></center></a>
	</header>
</center>
	
			<a class="rooms" href="bath.html" title="bath">bath</a>
			<a class="rooms" href="bed.html" title="bed">bed</a>
			<a class="rooms" href="kitchen.html" title="kitchen">kitchen</a>
			<a class="rooms" href="living.html" title="living">living</a>
			<a class="rooms" href="study.html" title="study">study</a>

	<div id="underHeader">
		<p>FREE AND FAST SHIPPING. CUSTOM FURNISHINGS IN JUST 2 WEEKS</p>
	</div>



<div class="grid-container">
  <div class="grid-item"><img class="grid-image" src="../images/BATH_1.jpg" alt="bath1"></div>

</div>

<div id="overFooter">
	<h1 style='display:inline'>HAVE A QUESTION</h1>
	<p style='display:inline' class="numchamail">1-855-ASK-LOOM      |      CHAT      |      EMAIL</p>
</div>
	<footer id="footer">
		<h1>footer</h1>
	</footer>
</center>
</body>
</html>
