<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>loomDecorTest</title>
	<link rel="stylesheet" href="../main.css">
</head>
<body>
	<header id="header" class="loomingHead">
			<a href="../index.html" title=""><img id="logo" src="../images/logo.png" alt="loomLogo" width="250px" height="50px"></a>
			<a href="bath.html" title="bath">bath</a>
			<a href="bed.html" title="bed">bed</a>
			<a href="kitchen.html" title="kitchen">kitchen</a>
			<a href="living.html" title="living">living</a>
			<a href="study.html" title="study">study</a>
	</header><!-- /header -->

<div id="underHeader">
	<p>FREE AND FAST SHIPPING. CUSTOM FURNISHINGS IN JUST 2 WEEKS</p>
</div>

<div class="grid-container">

  <div class="grid-item"><img width="250px" height="250px" src="../images/BEDROOM%202.jpg" alt="bed2"></div>
  <div class="grid-item"><img width="250px" height="250px" src="../images/BEDROOM_1.jpg" alt="bed1"></div>

</div>

<div id="overFooter">
	<h1 style='display:inline'>HAVE A QUESTION</h1>
	<p style='display:inline' class="numchamail">1-855-ASK-LOOM      |      CHAT      |      EMAIL</p>
</div>
	<footer id="footer">
		<h1>footer</h1>
	</footer>
</body>
</html>
