<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>loomDecorTest</title>
	<link rel="stylesheet" href="../main.css">
</head>
<body>
	<center>

	<center>
			<header>
			<a href="../index.html" title=""><center><img id="logo" src="../images/logo.png" alt="loomLogo" width="250px" height="50px"></center></a>
		</header>
	</center>
	
			<a class="rooms" href="bath.html" title="bath">bath</a>
			<a class="rooms" href="bed.html" title="bed">bed</a>
			<a class="rooms" href="kitchen.html" title="kitchen">kitchen</a>
			<a class="rooms" href="living.html" title="living">living</a>
			<a class="rooms" href="study.html" title="study">study</a>

	<div id="underHeader">
		<p>FREE AND FAST SHIPPING. CUSTOM FURNISHINGS IN JUST 2 WEEKS</p>
	</div>

<div class="grid-container">

  <div><img class="grid-image" src="../images/LIVING-1_02.jpg" alt="living1">THROW PILLOW <br> in Marquise - Stone <br><span style="color:gray;"> Starting at $116.00</span></div>
  <div><img class="grid-image" src="../images/LIVING-2_02.jpg" alt="living2">CONVERTIBLE DRAPERY<br> in Classic Linen - Deep Blue <br> <span style="color:gray;">Starting at $190.00</span></div>
  <div><img class="grid-image" src="../images/LIVING-3_03.jpg" alt="living3">PINCH PLEAT DRAPERY<br> in Linen Sheer - Ecru <br><span style="color:gray;"> Starting at $248.00</span></div>

</div>
	</center>

	<footer id="footer">

		<img id="footer" src="../images/footer.png" alt="footer">

	</footer>
</body>
</html>
