.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: auto;
}
@media only screen and (max-width: 600px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: auto auto;
	  /*grid-auto-flow: column;*/
	  padding: 10px;
	  width: auto;
	}
}
@media only screen and (max-width: 400px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: auto;
	  /*grid-auto-flow: column;*/
	  padding: 10px;
	  width: auto;
	}
}
.grid-item {

  padding: 20px;
  font-size: 30px;
  /*text-align: center;*/
}
header {
	display: inline-block;
	/*padding: 10px;*/
	/*border: 1px solid black;*/
}
#footer {
	display: inline-block;
	padding: 10px;
	/*border: 1px solid black;*/
}
#underHeader {
	width: 100%;
	color: white;
	padding: 13px;
	background-color: #494949;
	text-align: center;
}
#overFooter {
	width: 100%;
	color: white;
	padding: 13px;
	background-color: #494949;
	text-align: center;
}
.numchamail {
	padding-left: 100px;
}
#logo {
	display: block;
	align-items: center;
	/*left: 40%;*/
	/*margin-bottom: 33px;*/
	/*border: 1px solid black;*/
}
a.rooms {
	display: inline-block;
	color: black;
	font-size: 20px;
	margin: 20px;
	margin-left: 10%;
	text-decoration: none;
	/*border: 1px solid black;*/
}
@media only screen and (max-width: 600px) {
	a.rooms {
		display: inline-block;
		color: black;
		font-size: 20px;
		margin: 12px;
		/*margin-left: 60px;*/
		text-decoration: none;
		/*border: 1px solid black;*/
	}
}
@media only screen and (max-width: 400px) {
	a.rooms {
		display: inline-block;
		color: black;
		font-size: 20px;
		margin: 12px;
		/*margin-left: 60px;*/
		text-decoration: none;
		/*border: 1px solid black;*/
	}
}
img {
  display: block;
  max-width:250px;
  max-height:250px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
	img {
	  display: block;
	  width:250px;
	  height:250px;
	  width: 100%;
	  height: auto;
	}
}
@media only screen and (max-width: 400px) {
	img {
	  display: block;
	  width:250px;
	  height:250px;
	  width: 100%;
	  height: auto;
	}
}
