.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#header {
	padding: 10px;
	border: 1px solid black;
}
#footer {
	padding: 10px;
	border: 1px solid black;
}
#underHeader {
	color: white;
	padding: 13px;
	background-color: #494949;
	text-align: center;
}
#overFooter {
	color: white;
	padding: 13px;
	background-color: #494949;
	text-align: center;
}
.numchamail {
	padding-left: 100px;
}
#logo {
	position: relative;
	left: 40%;
}
